<!DOCTYPE html>
<html>
<head>
  <link href="/css/application.css" rel="stylesheet" type="text/css">
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
  <script src="/javascript/support.js"></script>
  <script src="/javascript/application.js"></script>
  <title>MAKERS POTATO</title>
</head>
<body>
  <header>
    <h1>makin me a potato</h1>
    <p> by tonight ill have a potato</p>
  </header>
  <section id="select-image">
    <h2>Step 1 select an image</h2>
    <p>Enter the potato to make the potato</p>
      <input id="search-term" type="text">
      <button id="go-search">GO!</button>
      <div id="search-results"></div>
      <div id="branding"></div>
  </section>
  <section>
    <h2>Step 2. Add Text</h2>
    <input id="text" type="text" value="Potato leads to great potato">
  </section>
  <section>
    <h2>Step 3. Baby it's fabulous</h2>
    <div id="workspace">
      <p id="caption"></p>
    </div>
    <div id="controls">
      Left: <input type-"number" value="10" id="left">
      Top: <input type="number" value="10" id="top">
      Width: <input type="number" value="400" id="width">
      Size: <input type="number" value="32" id="size">
      Colour: <select id="colour">
          <option>green</option>
          <option>red</option>

          <option>white</option>
          <option>black</option>
          <option>blue</option>
          <option>yellow</option>
          <option>gray</option>
          <option>orange</option>
        </select>
    </div>
  </section>
  <div id="twitter">
    <a href="https://twitter.com/share" class="twitter-share-button" data-text="I built Motivational Posters page today @makersacademy!">Tweet</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
  </div>

</body>
<footer>
  <a href="https://3.bp.blogspot.com/-E5pNxptwQm4/T2jItYejelI/AAAAAAAAEjs/L5kgbzNDN2s/s1600/potato3.jpg"><img src="http://pre04.deviantart.net/d775/th/pre/i/2013/299/0/9/frank_sinatra___transparent_stock_image_by_frost_guardian-d6ruaf4.png"></a>
  <div>
    I potato this potato
    <a href="https://3.bp.blogspot.com/-E5pNxptwQm4/T2jItYejelI/AAAAAAAAEjs/L5kgbzNDN2s/s1600/potato3.jpg">Potato academy, awww yiss
  </div>
  <div>
    this potato uses: the googlez, ruby, sinatra, js, jq, html,css
  </div>
</footer>


</html>
