<!DOCTYPE html>
<html>
<head>
  <link href="/css/application.css" rel="stylesheet" type="text/css">
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
  <script src="/javascript/support.js"></script>
  <script src="/javascript/application.js"></script>
  <title>MAKERS POTATO</title>
</head>
<body>
  <header>
    <h1>makin me a potato</h1>
    <p> by tonight ill have a potato</p>
  </header>
  <section id="select-image">
    <h2>Step 1 select an image</h2>
    <p>Enter the potato to make the potato</p>
      <input id="search-term" type="text">
      <button id="go-search">GO!</button>
      <div id="search-results"></div>
      <div id="branding"></div>
  </section>
  <section>
    <h2>Step 2. Add Text</h2>
    <input id="text" type="text" value="Potato leads to great potato">
  </section>
  <section>
    <h2>Step 3. Baby it's fabulous</h2>
    <div id="workspace">
      <p id="caption"></p>
    </div>
  </section>
</body>


</html>
