body {
  text-align: center;
  background-image: url(/images/puppycat.gif);
  color: gray;
  font-family: Helvetica, Arial;
  margin: 0;
  padding: 0;
}
h2 {
  color: rgba(230,2,176, 0.2);
  font-style: courier;
  font-size: 100px;
  font
}

p {
  color: rgba(250,2,176, 0.6);
}

#colour {
  color: green;
}
#workspace {
  background-color: rgba(0,255,162, 0.8);
  width: 600px;
  min-height: 300px;
  border: 3px groove violet;
  margin: 0 auto;
  background-image: url(/images/3.jpg);

}

#workspace img {
  width: 600px;
}

#caption {
  position: absolute;
  top: 10px;
  left: 10px;
}

#workspace {
  position: relative;
}

#caption {
  position: absolute;
  top: 10px;
  left: 10px;
  font-weight: bold;
  font-family: Helvetica;
  text-shadow: 0 0 5px rgba(0,0,0,0.4);
  width: 400px;
  font-size: 32px;
  color: green;
  margin: 0;
}

header {
  padding: 15px;
  background-color: rgba(255,253,255,0.7);
  box-shadow: 1px 0 3px rgba(0, 0, 0, 0.3);
}

#select-image {
  background-color: rgba(255,255,255, 0.5);
  padding: 10px;
}

#add-text {
  background-color: rgba(0,255,255,0.02);
  padding: 10px;
  box-shadow: 1px 0 3px rgba(0,0,0, 0.3);
}

#add-text {
  width: 600px;
  text-align: center;
}

input, button{
  font-size: 16px;
}

#style-image {
  background-color: rgba(255,255,255, 0.7);
  padding: 10px;
  box-shadow: 1px 0 3px rgba(0,0,0, 0.3);
}
#text {
  color: violet;
}

#controls {
  padding: 10px;
  font-size: 14px;

}

input[type="number"] {
  width: 50px;
}

footer {
  background-color: rgba(255,0,255, 0.01);
  padding: 10px;
  text-align: left;
  box-shadow: -1px 0 5px rgba(0,0,0, 0.3);
}

select.decorated option:hover {
    box-shadow: 0 0 10px 100px #1882A8 inset;
}

footer img {
  float: left;
  margin-right: 40px;
}

footer div {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 0;
  margin-right: 0;
}

h1 {
  font-size: 50px;
  color: #FF3E96;
}
